:root{
    --heading-background-color:#BCBBBD;
    --heading-fonts:merriweather, san-serrif;
    --heading-text-color:#535C5C;
    --color:#EBEBEB;
}
main{
    display: flex;
    flex-direction: column;
}

header{
    margin:1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--color);
    max-width: 1000px;
}
.logo img{
    margin: 1rem 0.25rem 1rem 0.25rem;
    width:75px;
    height:auto;
}
.hero h1{

    color:var(--heading-text-color) ;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}
nav li{
    flex:1 1 auto;
}
nav a{
    display: block;
    color: var(--heading-text-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}
nav a:hover{
    color:navy;
    font-weight: 1000;
    text-decoration:overline;

}


h2{
    color: var(--heading-text-color);
    font-family: var(--heading-fonts);
    text-align: center;
}

p{
  padding: auto;   
    
}
a{
    text-decoration: none;

}
.hero{
    position: relative;
}
.hero img{

    float: right;
    display: block;
    width: 100%;
    height: 50%;
}
.hero article{
    position: absolute;
    background-color: var(--heading-background-color);
    padding: 1rem;
    margin-top: 25px;
}

.hero article img{
    width: 200px;
    height: 200px;
    float: right;
    
}

.history{
    order: 1;
    text-align: center;
}
.history_content{
    order: 1;
    border: 1px ;
    display: flex;
    
}

.history img{
    width: 250px
}
.gallery{
    order: 2;
    text-align: center;
}
.gallery_images {
    order: 2;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin-top: 20px;
    
}
.gallery h2{
    margin-bottom: 20px;
}
.gallery img{
    width: 250px;

}
a img{
    width: 25px;
    
}
footer{
    display: flex;
    justify-content: end;
}